html,body {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    min-width: 280px;
}

img {
    display: inline-block;
}

a {
    transition: 0.2s ease-out;
}

* {
    box-sizing: border-box;
}

/* ..............................

GRID

................................*/
.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.row:after {
    clear: both;
    content: "";
    display: table;
}

.col-4 {
    width: 360px;
    margin-right: 30px;
    float: left;
}

.col-4:last-child {
    margin-right: 0px;
}

/* ..............................

HEADER

................................*/
.header {
    background: #343c4f;
    background-image: url(../img/bg/bg-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    height: 100vh;
    min-height: 400px;
    
    color: #FFF;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        
}

.header__title {
    font-size: 56px;
    margin-bottom: 30px;
    font-family: 'Merriweather', serif;
}

.header__slogan {
    font-size: 28px;
    line-height: 42px;
}

.header__arrow {
    font-size: 48px;
    width: 60px;
    height: 50px;
    margin-left: -30px;
    position: absolute;
    bottom: 50px;
    left: 50%;
}

/* ..............................

PORTFOLIO

................................*/

.portfolio {
    padding-top: 70px;
    padding-bottom: 100px;
}

.portfolio-item{
    margin-bottom: 17px;
}

.title {
    font-size: 46px;
    margin-bottom: 60px;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.portfolio-item__img {
    margin-bottom: 17px;
}

.portfolio-item__img img {
    max-width: 100%;
    height: auto;
}

.portfolio-item__title {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 5px;
}

.portfolio-item__title a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #FFF;
}

.portfolio-item__title a:hover {
    color: #0052c2;
    border-color: rgb(0, 8, 194, 0.3);
}

.portfolio-item__title p {
    margin-top: 0px;
    margin-bottom: 15px;
}

/* ..............................

PORTFOLIO-SINGLE-PAGE

................................*/
.portfolio-single-page {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.portfolio-single-page img {
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
}

.button-back {
    font-weight: 700;
    text-decoration: none;
    color: #0052c2;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    
    display: inline-block;
    
    border-width: 2px;
    border-color: #0052c2;
    border-style: solid;
    border-radius: 50px;
    
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 23px;
    
    margin-bottom: 13px;
    
    transition: 0.2s ease-out;
}

.button-back:hover {
    color: #FFF;
    background-color: #0052c2;
}

/* ..............................

FOOTER

................................*/
.footer {
    background-color: #061634;
    color: #6479a2;
    padding-top: 90px;
    padding-bottom: 190px;
}

.footer p {
    margin-top: 0px;
    margin-bottom: 15px;
}

p.footer__name {
    font-size: 28px;
    margin-bottom: 10px;
    line-height: normal;
    font-family: 'Merriweather', serif;
}

p.footer__social {
    color: #FFF;
}

p.footer__social-icons {
    color: #FFF;
    font-size: 32px;
}

p.footer__social-icons a {
    color: #FFF;
    text-decoration: none;
    margin-right: 30px;
}

p.footer__social-icons a:last-child {
    margin-right: 0px;
}

p.footer__social-icons a:hover {
    color: #FFE400;
}

.button {
    font-weight: 700;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    
    display: inline-block;
    border-width: 2px;
    border-color: #FFF;
    border-style: solid;
    border-radius: 50px;
    
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 23px;
    
    margin-bottom: 13px;
    
    transition: 0.2s ease-out;
}

.button:hover {
    color: #061634;
    background-color: #FFF;
}

/* ..............................

MEDIA

................................*/
/* При ширине экрана в 1160px и менее будет выполнен медиа запрос */
@media (max-width: 1160px) {

    .container {
        width: 100%;
    }
    
    .col-4 {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    
    .header {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .header__title {
        font-size: 38px;
        line-height: 48px;
        margin-bottom: 15px;
    }
    
    .header__slogan {
        font-size: 40px;
        line-height: 38px;
    }
    .portfolio {
        padding-top: 40px;
        padding-top: 50px;
    }
    
    .title {
        font-size: 36px;
    }
    
    .footer {
        padding-top: 70px;
        padding-bottom: 60px;
    }
    
}
